@import "../../styles/_variables.scss";

.audio-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__txt {
        color: $primary-gray-light;
        font-size: 2rem;
        padding: 2rem;
        text-align: justify;
    }

    .link {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        svg {
            height: 1.4rem;
            width: 1.4rem;
        }

        fill: black;
    }

    &__info {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        background-color: $primary-gray-light;

        .info--success {
            background-color: #96f1d6;
        }
        .info--error {
            background-color: #f1a196;
        }

        .info-container {
            white-space: nowrap;
            overflow: hidden;
            .info--slide {
                font-weight: 800;
                display: inline-block;
                animation: 30s slide infinite linear;
                .slide {
                    display: inline-block;
                    margin: 0rem 1rem;
                    // animation: 2s slide infinite linear;
                }
            }
        }

        font-weight: bold;

        .info {
            color: inherit;
        }
    }

    &__controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        max-width: 300px;
        padding: 1rem;

        input[type="file"] {
            display: none;
        }

        .panel__btn {
            background-color: transparent;
            transition: all 0.2s;
            // Reset default styles --> check it
            padding: 0px;
            cursor: pointer;
            svg {
                height: 4rem;
                width: 4rem;
                fill: $primary-gray-light;
            }

            &,
            &:active,
            &:focus,
            &:hover,
            &:visited {
                border: none;
                border-radius: 0px;
                outline: none;
                box-shadow: none;
            }

            &:hover {
                svg {
                    fill: darken($primary-gray-light, 20);
                }
            }

            &:disabled,
            &--disabled {
                cursor: not-allowed;
                svg {
                    fill: lighten($primary-gray-dark, 30);
                }
            }
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
