@import "../../styles/main.scss";
.containerV {
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
}

.btn-customize {
    position: absolute;
    display: block;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
