@import "../../styles//main.scss";

.pathAt {
    stroke-dasharray: 734.7;
    stroke-dashoffset: 734.7;
    animation: dash 1.5s linear forwards;
}

.errorOutline {
    stroke-dasharray: 305.5;
    stroke-dashoffset: 305.5;
    animation: dashOutline 0.8s linear forwards;
}

.errorLine {
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    animation: dashOutline 0.8s linear forwards;
}

.svg {
    margin: 5rem 0 0 0;
}

.success,
.error {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 2px rgba(249, 249, 249, 0.9);
}

@keyframes dash {
    0% {
        stroke-dashoffset: 734.7;
        fill: transparent;
    }
    70% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: white;
    }
}
@keyframes dashOutline {
    to {
        stroke-dashoffset: 0;
    }
}
