@import "./variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: arial, sans-serif; //$font-primary;
    color: $primary-white;
    font-weight: 300;
    line-height: 1.6;
    background-color: black;
    position: relative;

    // padding: 2rem;

    #root {
        position: relative;
        margin: 0 auto;
        text-align: center;
        // width: 100vw;
    }
}

.container {
    display: grid;
}
