@import "../../styles//main.scss";

.container {
    width: 90%;

    backdrop-filter: blur(0.3px);
    // background-color: lightgoldenrodyellow;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 20px;

    @include respond(tab-port) {
        flex: 0 0 45%;
    }

    // width: 70%;
    margin: 0 auto;
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // align-items: center;
        margin-top: 3rem;
        width: 90%;
        height: 90%;

        .form__input {
            margin: 0.75rem 0;

            font-size: 1.7rem;

            border: none;
            border-radius: 0.5rem;
            // background-color: #282726;
            background-color: rgba(255, 255, 255, 0.2);

            color: white;
            // font-size: 0.7rem;
            padding: 0.5rem 0.3rem;
            &:-webkit-autofill {
                background-color: blue;
            }
            // &:focus {
            //     background-color: #282726;
            // }

            &:focus {
                color: darken($primary-white, 95%);
                background-color: rgba($primary-white, 0.75);
            }
        }
        textarea {
            width: 100%;
            min-height: 15rem;
            resize: none;
            &:focus {
                color: darken($primary-white, 95%);
                background-color: rgba($primary-white, 0.75);
            }
        }
    }
}

.btn {
    font-size: 2rem;
    color: $primary-gray-dark;
    display: inline-block;
    text-decoration: none;

    // background-color: $primary-white;
    padding: 3px;
    transition: all 0.2s;

    cursor: pointer;
    // Reset default styles of button
    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
        border: none;
        border-radius: 0px;
        outline: none;
        box-shadow: none;
    }

    &:hover {
        background-color: darken($primary-white, 10%);
        color: darken($primary-gray-dark, 30%);
    }

    &:disabled {
        color: $primary-gray-dark;
        background-color: rgb(96, 96, 96);
        cursor: not-allowed;

        &:hover {
            color: $primary-gray-dark;
            background-color: rgb(96, 96, 96);
        }
    }

    &:hover {
        background-color: rgba($primary-white, 0.9);
        color: $primary-black;
        box-shadow: 0 1rem 2rem rgba($primary-black, 0.15);
        transform: translateY(-2px);
    }
}

.pathAt {
    stroke-dasharray: 734.7;
    stroke-dashoffset: 734.7;
    animation: dash 2.2s linear forwards;
}

.errorOutline {
    stroke-dasharray: 305.5;
    stroke-dashoffset: 305.5;
    animation: dashOutline 0.8s linear forwards;
}

.errorLine {
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    animation: dashOutline 0.8s linear forwards;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 734.7;
        fill: transparent;
    }
    70% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: white;
    }
}
@keyframes dashOutline {
    to {
        stroke-dashoffset: 0;
    }
}
